In [2]:
#data analysis library
import pandas as pd

In [3]:
#read trainset
train_data = pd.read_csv('Train_set.csv')

In [4]:
#read testset
test_data = pd.read_csv('Test_set.csv')

- shape attribute - print the rows and columns, 
- shape[0] - print number of rows only
- shape[1] - print number of columns only

In [5]:
#print function to echo the shape of the train_set data
print(train_data.shape[0],'rows and', train_data.shape[1], 'columns')

1296675 rows and 23 columns

In [6]:
#print function to echo the shape of the train_set data
print(test_data.shape[0],'rows and', train_data.shape[1], 'columns')

555719 rows and 23 columns

- sample() - sample function allows a subset of defined numbers of data to be selected randomly
- random_state - allow the sample data selected to be reproduceable. NB: the no can be any number, just to hold the state

In [7]:
#select 100,000 random sample from trainset
sample_train = train_data.sample(100000, random_state = 50)

#select 50,000 random sample from testset
sample_test = test_data.sample(50000, random_state = 50)

In [8]:
#print top 2 records
sample_train.head(2)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
88643,88643,2019-02-22 01:14:39,342952484382519,"fraud_Heller, Gutmann and Zieme",grocery_pos,81.07,Kayla,Jones,F,6033 Young Track Suite 804,...,42.0158,-73.2913,647,Comptroller,1987-09-26,274710b082130c6fea0fd2c5581a610f,1329873279,41.452457,-72.918018,0
1238538,1238538,2020-05-31 21:28:12,30371006069917,"fraud_Koss, Hansen and Lueilwitz",home,27.73,Robert,James,M,92021 Miranda Meadows,...,38.1380,-89.2231,2135,"Development worker, community",1961-01-31,4d03613cc60858bda1a2601ede542773,1370035692,38.778411,-88.854934,0

- reset_index() - reset_index function reset the unordered index number

In [9]:
#reset the randomized sample trainset data index to avoid error for future use
sample_train = sample_train.reset_index(drop = True)

#reset the randomized sample testset data index to avoid error for future use
sample_test = sample_test.reset_index(drop = True)

In [10]:
#print trainset & testset shape(rows and columns)
print (sample_train.shape, sample_test.shape)

(100000, 23) (50000, 23)

In [11]:
#print top 2 rows
sample_train.head(2)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,88643,2019-02-22 01:14:39,342952484382519,"fraud_Heller, Gutmann and Zieme",grocery_pos,81.07,Kayla,Jones,F,6033 Young Track Suite 804,...,42.0158,-73.2913,647,Comptroller,1987-09-26,274710b082130c6fea0fd2c5581a610f,1329873279,41.452457,-72.918018,0
1,1238538,2020-05-31 21:28:12,30371006069917,"fraud_Koss, Hansen and Lueilwitz",home,27.73,Robert,James,M,92021 Miranda Meadows,...,38.1380,-89.2231,2135,"Development worker, community",1961-01-31,4d03613cc60858bda1a2601ede542773,1370035692,38.778411,-88.854934,0

In [12]:
#print column names
sample_train.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [13]:
#print column names
sample_test.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

# Save Sample Data as a new file

- to_csv() - a function that allow a data to be saved as a csv file
- index: index = False disallow the to_csv function not to create an index as a new column

In [14]:
#save randomized sample of trainset as an excel file(csv format)
sample_train.to_csv('sample_train.csv', index=False)

#save randomized sample of testset as an excel file(csv format)
sample_test.to_csv('sample_test.csv',  index=False)

In [15]:
#print top 5 observations or records
sample_train.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,88643,2019-02-22 01:14:39,342952484382519,"fraud_Heller, Gutmann and Zieme",grocery_pos,81.07,Kayla,Jones,F,6033 Young Track Suite 804,...,42.0158,-73.2913,647,Comptroller,1987-09-26,274710b082130c6fea0fd2c5581a610f,1329873279,41.452457,-72.918018,0
1,1238538,2020-05-31 21:28:12,30371006069917,"fraud_Koss, Hansen and Lueilwitz",home,27.73,Robert,James,M,92021 Miranda Meadows,...,38.1380,-89.2231,2135,"Development worker, community",1961-01-31,4d03613cc60858bda1a2601ede542773,1370035692,38.778411,-88.854934,0
2,18146,2019-01-11 22:16:14,4681601008538160,fraud_Cartwright PLC,kids_pets,190.34,Tammy,Davis,F,77663 Colleen Freeway,...,39.9148,-80.7310,16183,Physiotherapist,1977-08-12,5403fa79fbbc397db003ec4ee3f48630,1326320174,39.342257,-81.601052,0
3,70809,2019-02-11 14:41:55,4239436242473,fraud_Ullrich Ltd,kids_pets,134.74,James,Leon,M,826 Benjamin Stravenue,...,38.8320,-77.1200,321490,"Scientist, biomedical",1991-10-04,27355c22ede8bd3b7253f8e7250e742f,1328971315,39.194023,-76.558310,0
4,1272336,2020-06-12 17:58:38,4681601008538160,fraud_Price Inc,shopping_net,7.66,Tammy,Davis,F,77663 Colleen Freeway,...,39.9148,-80.7310,16183,Physiotherapist,1977-08-12,1e0bfda4ef9e5a67db2def53f416510a,1371059918,40.907353,-80.207589,0

- set_option() -  a fxn that allows a personalized option for display
- display.max_columns - an argument to set max columns

In [16]:
#make all column visible
pd.set_option('display.max_columns', None)

In [17]:
#print top 3 observations or records
sample_train.head(3)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,88643,2019-02-22 01:14:39,342952484382519,"fraud_Heller, Gutmann and Zieme",grocery_pos,81.07,Kayla,Jones,F,6033 Young Track Suite 804,East Canaan,CT,6024,42.0158,-73.2913,647,Comptroller,1987-09-26,274710b082130c6fea0fd2c5581a610f,1329873279,41.452457,-72.918018,0
1,1238538,2020-05-31 21:28:12,30371006069917,"fraud_Koss, Hansen and Lueilwitz",home,27.73,Robert,James,M,92021 Miranda Meadows,Tamaroa,IL,62888,38.1380,-89.2231,2135,"Development worker, community",1961-01-31,4d03613cc60858bda1a2601ede542773,1370035692,38.778411,-88.854934,0
2,18146,2019-01-11 22:16:14,4681601008538160,fraud_Cartwright PLC,kids_pets,190.34,Tammy,Davis,F,77663 Colleen Freeway,Moundsville,WV,26041,39.9148,-80.7310,16183,Physiotherapist,1977-08-12,5403fa79fbbc397db003ec4ee3f48630,1326320174,39.342257,-81.601052,0

# NEXT: DAY 2 - Exploratory Data Analysis